---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <h1 class="text-2xl font-bold dark:text-neutral-100 py-10">
    {entry.data.title}
  </h1>
  <article class="prose prose-neutral dark:prose-invert prose-sm md:prose-base">
    <Content />
  </article>
</BaseLayout>
