---
import BaseLayout from "../layouts/BaseLayout.astro";
import { buttonVariants } from "../components/ui/button";
import BlogBox from "../components/BlogBox.astro";
import ProjectsBox from "../components/ProjectsBox.astro";
---

<BaseLayout
  title="kotogavr blog"
  description="I'm an Indie Maker and full-stack developer with-no-matter-how-much of expereince. I build on Ruby on Rails, Web3 / Web2 and everything in between"
>
  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href="/"
          class="text-black dark:text-white dark:hover:text-neutral-100">Home</a
        >
      </li>
    </ul>
  </nav>
  <div class="flex max-w-[980px] flex-col items-start gap-2">
    <h1
      class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
    >
      I'm Anna Gavrilova 👋 <br class="hidden sm:inline" />
      Welcome to my blog.
    </h1>
    <p class="w-auto max-w-[700px] text-lg leading-6 text-muted-foreground">
      I'm an Indie Maker and full-stack developer with-no-matter-how-much of
      expereince. I build on Ruby on Rails, Web3 / Web2 and everything in
      between.
    </p>
  </div>
  <BlogBox />
  <ProjectsBox />
  <div class="flex gap-4">
    <a
      href="https://ui.shadcn.com"
      target="_blank"
      rel="noreferrer"
      class={buttonVariants()}
    >
      Documentation
    </a>
    <a
      href="https://github.com/kotogavr/"
      target="_blank"
      rel="noreferrer"
      class={buttonVariants({ variant: "outline" })}
    >
      GitHub
    </a>
  </div>
</BaseLayout>
